<h1>Student Form</h1>
<%= form_for :student do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :First_name %><br>
    <%= f.text_field :Last_name %>
  </p>

  <p>
    <%= f.label :Address %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
